<%= form_with model: @article, url: update_article_path, local: true do |f| %>

    <p>
        <% if @article.errors.any? %>
            <ul>
                <% @article.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>  
        <% end %>
    </p>

    <div>
        <%= f.label :title  %><br/>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :body  %><br/>
        <%= f.text_field :body %>
    </div>

    <div>
        <%= f.submit  %>
    </div>

<% end %>

<%= link_to 'Return to Article', show_article_path(@article) %>